table, tr, tr, th 
    {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
      width: 50%;
    }

tr:nth-child(even)
    {
    	background-color: #3d2351;
    	font-family: 'Concert One', cursive;

    }

tr:nth-child(odd)
    {
    	background-color: #c581ff;
    	font-family: 'Concert One', cursive;
    }

tr:hover
    {
    	background-color: #ff7373;
    	font-family: 'Concert One', cursive;
    }

ol
    {
    	font-family: 'Luckiest Guy', cursive;
    }

ul
    {
    	font-family: 'Luckiest Guy', cursive;
    }
p
    {
    	font-family: 'Concert One', cursive;
    }